html,
body {
  display: flex !important;
  flex-direction: column !important;
  padding: 0 !important; 
  margin: 0 !important;
  height: 100vh !important;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
  
  font-size: 18px !important;
  background-color: #3C3C3C !important;
}

